*.swp
.pc
*.debhelper
*.substvars
debian/debhelper-build-stamp
debian/files
debian/wireguard-dkms/
debian/wireguard-tools/
cscope.out
*.debhelper.log
*.o
*.d
*.ko
*.mod.c
*.cmd
Module.symvers
.tmp_versions
modules.order
modules.builtin
maint/
qemu-build/
src/tests/qemu/distfiles/
*.id0
*.id1
*.id2
*.nam
*.til
*.pro.user
